@import "tailwindcss";

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: darkgrey;
}

#stats {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#stats canvas {
  width: max(100px, 10vw, 10vh);
  height: max(60px, 6vh, 6vw);
  user-select: none;
}
